<!DOCTYPE html>
<html lang="en">
<head>
  <title>The New Orleans Advocate Neighborhood Grocers page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
  crossorigin="anonymous">
  <%= stylesheet_link_tag "all" %>
</head>
<body>
  <div class="page">
    <div class="noa-logo">
      <a href="http://theneworleansadvocate.com">The New Orleans Advocate</a>
    </div>

    <div class="intro">
      <h1> Neighborhood Grocers</h1>
      <h2> View this week’s grocery ads!</h2>
    </div>

    <div class="bags container">
      <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-2">
          <a href="http://shop.rouses.com/storelocator.aspx" target="_blank">
            <%= image_tag "new_new_logo_rouses.png", alt: "Rouse's" %>
          </a>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2">
          <a href="https://www.winndixie.com/Savings/WeeklyAds/default.aspx" target="_blank">
            <%= image_tag "new-logo-winndixie.png", alt: "Winn Dixie" %>
          </a>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2">
          <a href="http://www.mybudgetsaver.com/weeklyad/index" target="_blank">
            <%= image_tag "new-logo-labories.png", alt: "Laborie's" %>
          </a>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2">
          <a href="http://www.robertfreshmarket.com/weekly-ad" target="_blank">
            <%= image_tag "new-logo-robert.png", alt: "Robert Fresh Market" %>
          </a>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2">
          <a href="http://www.lakeviewgrocery.com/weekly-ad" target="_blank">
            <%= image_tag "new-logo-lakeview.png", alt: "Lakeview Grocery" %>
          </a>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2">
          <a href="http://zuppardos.com/weekly-specials/" target="_blank">
            <%= image_tag "new-logo-zuppardos.png", alt: "Zuppardo's" %>
          </a>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2">
          <a href="http://www.langensteins.com/weekly-specials" target="_blank">
            <%= image_tag "new-logo-langensteins.png", alt: "Langenstein's" %>
          </a>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2">
          <a href="http://www.cansecos.com/weekly-specials.html" target="_blank">
            <%= image_tag "new-logo-cansecos.png", alt: "Canseco's" %>
          </a>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2">
          <a href="http://breauxmart.com/weekly-ad/" target="_blank">
            <%= image_tag "new-logo-breauxmart.png", alt: "Breauxmart" %>
          </a>
        </div>
      </div>
    </div>
  </body>
  </html>
